<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <title>菜单管理</title>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-tabs"></i>
                <span>菜单管理</span>
            </div>
            <div class="layui-card-body">
                <div class="layui-form layui-form-pane toolbar">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label w-auto">搜索</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" placeholder="输入关键字"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
                            <button class="layui-btn icon-btn" id="btnAddMenu"><i class="layui-icon layui-icon-add-1"></i>添加</button>
                            <button class="layui-btn icon-btn">全部展开</button>
                            <button class="layui-btn icon-btn">全部折叠</button>
                        </div>

                    </div>
                </div>

                <table class="layui-table" id="tableMenu" lay-filter="tableMenu"></table>

            </div>
        </div>
    </div>


    <!-- 表格操作列 -->
    <script type="text/html" id="tableBarMenu">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <!-- 表单弹窗 -->
    <script type="text/html" id="modelMenu">
        <form id="modelMenuForm" lay-filter="modelMenuForm" class="layui-form model-form">
            <input name="id" type="hidden"/>
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-block">
                    <select id="pid" name="pid" lay-search>
                        <option value="0">系统顶级菜单</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input name="title" placeholder="请输入菜单名称" type="text" class="layui-input" maxlength="50"
                           lay-verType="tips" lay-verify="required" required/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input name="type" type="radio" value="0" title="按钮"/>
                    <input name="type" type="radio" value="1" title="菜单"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL</label>
                <div class="layui-input-block">
                    <input name="url" placeholder="请输入菜单url" type="text" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限标识</label>
                <div class="layui-input-block">
                    <input name="perms" placeholder="请输入权限标识" type="text" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单图标</label>
                <div class="layui-input-block">
                    <input name="icon" placeholder="请输入菜单图标" type="text" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序号</label>
                <div class="layui-input-block">
                    <input name="sort" placeholder="请输入排序号" type="number" class="layui-input" min="0" max="1000"
                           lay-verType="tips" lay-verify="required|number" required/>
                </div>
            </div>
            <div class="layui-form-item text-right">
                <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
                <button class="layui-btn" lay-filter="modelSubmitMenu" lay-submit>保存</button>
            </div>
        </form>
    </script>



    <script th:replace="/common/template :: script"></script>
    <script>

        layui.use(['layer', 'form', 'table', 'admin', 'treetable'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var admin = layui.admin;
            var treetable = layui.treetable;

            // 渲染表格
            function renderTable() {
                treetable.render({
                    treeColIndex: 1,
                    treeSpid: 0,
                    treeIdName: 'id',
                    treePidName: 'pid',
                    elem: '#tableMenu',
                    url: 'getMenus',
                    cellMinWidth: 100,
                    cols: [
                        [
                            {type: 'numbers', title: '#'},
                            {field: 'title', title: '权限名称', minWidth: 200},
                            {field: 'url', title: '菜单url'},
                            {field: 'perms', title: '权限标识'},
                            {field: 'sort', title: '排序号', align: 'center'},
                            {
                                title: '类型', templet: function (d) {
                                    var strs = ['<span class="layui-badge layui-bg-gray">按钮</span>', '<span class="layui-badge-rim">菜单</span>'];
                                    return strs[d.type];
                                }, align: 'center'
                            },
                            {align: 'center', toolbar: '#tableBarMenu', title: '操作', minWidth: 200}
                        ]
                    ]
                });
            }

            renderTable();

            // 添加按钮点击事件
            $('#btnAddMenu').click(function () {
                showEditModel();
            });

            // 工具条点击事件
            table.on('tool(tableMenu)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'edit') { // 修改
                    showEditModel(data);
                } else if (layEvent === 'del') { // 删除
                    doDel(data.id, data.title);
                }
            });

            // 显示表单弹窗
            function showEditModel(mMenu) {
                admin.open({
                    type: 1,
                    title: (mMenu ? '修改' : '添加') + '菜单',
                    content: $('#modelMenu').html(),
                    success: function (layero, dIndex) {
                        $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        var url = mMenu ? 'editMenu' : 'saveMenu';
                        layer.load(2);
                        $.get('getMenus', {}, function (res) {
                            var options = res.data;
                            for(var i=0; i<options.length; i++) {
                                var menuId = options[i].id;
                                var menuTitle = options[i].title;
                                var option = '<option value="'+menuId+'">'+menuTitle+'</option>';
                                $("#pid").append(option);
                            }

                            form.render();

                            // 回显数据
                            if (mMenu && mMenu.type == '1') {
                                $('#modelMenuForm input[name="type"][value="1"]').prop("checked", true);
                            }
                            form.val('modelMenuForm', mMenu);
                            layer.closeAll('loading');
                        }, 'json');

                        // 表单提交事件
                        form.on('submit(modelSubmitMenu)', function (data) {
                            if (data.field.parentId == '') {
                                data.field.parentId = '-1';
                            }
                            $.post(url, data.field, function (res) {
                                layer.closeAll('loading');
                                if (res.code == 200) {
                                    layer.close(dIndex);
                                    layer.msg(res.msg, {icon: 1});
                                    renderTable();
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }, 'json');
                            return false;
                        });
                    }
                });
            }

            function doDel(menuId, menuName) {
                layer.confirm('确定要删除“' + menuName + '”吗？', {
                    skin: 'layui-layer-admin',
                    shade: .1
                }, function (index) {
                    layer.close(index);
                    layer.load(2);
                    $.get('deleteMenu', {
                        menuId: menuId
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1});
                            renderTable();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'json');
                });
            }


        })
    </script>


</body>
</html>