<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">

</head>
<body>
<div class="layui-fluid">

    <div class="layui-card">
        <div class="layui-card-header">
            <i class="layui-icon layui-icon-tabs"></i>
            <span>新产品费用总表</span>
        </div>
        <div class="layui-card-body">

            <div class="layui-row">
                <div class="pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">机种</label>
                        <div class="layui-input-block">
                            <input type="text" name="projectName" th:value="${projectCost.getProjectName()}" placeholder="请输入机种" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>

                </div>
            </div>

            <br/>

            <div class="layui-row">

                <fieldset class="layui-elem-field layui-field-title">
                    <legend>各阶段的成本明细：</legend>
                    <div class="layui-field-box">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>阶段</th>
                                <th>Process</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>直接材料成本</th>
                                <th>治工具</th>
                                <th>验证费用</th>
                                <th>生产费用</th>
                                <th>重工/报废费用</th>
                                <th>研发人员薪资</th>
                                <th>RMA</th>
                                <th>OBA</th>
                                <th>差旅费</th>
                            </tr>
                            </thead>
                            <tbody>

                            <th:block th:each="projectStageCost:${projectCost.getProjectStageCosts()}">
                                <tr >
                                    <td th:text="${projectStageCost.getStage()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">阶段</td>

                                    <td th:text="${projectStageCost.getStageDetails().get(0).getProcess()}">Process</td>
                                    <td th:text="${projectStageCost.getStageDetails().get(0).getOutQuantity()}">数量</td>
                                    <td th:text="${projectStageCost.getStageDetails().get(0).getUnits()}">单位</td>

                                    <td th:text="${projectStageCost.getDirectMaterialCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">直接材料成本</td>
                                    <td th:text="${projectStageCost.getToolCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">治工具</td>
                                    <td th:text="${projectStageCost.getValidationCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">验证费用</td>
                                    <td th:text="${projectStageCost.getProductionCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">生产费用</td>
                                    <td th:text="${projectStageCost.getReworkAndScrapCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">重工/报废费用</td>
                                    <td th:text="${projectStageCost.getSalaryCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">研发人员薪资</td>
                                    <td th:text="${projectStageCost.getRmaCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">RMA</td>
                                    <td th:text="${projectStageCost.getObaCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">OBA</td>
                                    <td th:text="${projectStageCost.getTravelCost()}"
                                        th:attr="rowspan=${projectStageCost.getStageDetails().size()}">差旅费</td>
                                </tr>

                                <th:block th:each="stageDetails,index:${projectStageCost.getStageDetails()}">
                                    <tr th:if="${index != 0}">
                                        <td th:text="${stageDetails.getProcess()}">Process</td>
                                        <td th:text="${stageDetails.getOutQuantity()}">数量</td>
                                        <td th:text="${stageDetails.getUnits()}">单位</td>
                                    </tr>
                                </th:block>
                            </th:block>

                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field layui-field-title">
                    <legend>二级科目：</legend>
                    <div class="layui-field-box">
                        <div class="layui-row">
                            <div class="layui-col-md6">
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th>阶段</th>
                                        <th>预防成本</th>
                                        <th>鉴定成本</th>
                                        <th>内损成本</th>
                                        <th>外损成本</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="subject:${secondSubject}">
                                        <td th:text="${subject.get('stage')}">阶段</td>
                                        <td th:text="${subject.get('precautionCost')}">预防成本</td>
                                        <td th:text="${subject.get('identifyCost')}">鉴定成本</td>
                                        <td th:text="${subject.get('inLossCost')}">内损成本</td>
                                        <td th:text="${subject.get('outLossCost')}">外损成本</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="layui-col-md-offset8 layui-col-md-4">
                                <p>预防成本=<span th:text="${projectCost.getPrecautionCost()}"></span></p>
                                <p>鉴定成本=<span th:text="${projectCost.getIdentifyCost()}"></span></p>
                                <p>内损成本=<span th:text="${projectCost.getInLossCost()}"></span></p>
                                <p>外损成本=<span th:text="${projectCost.getOutLossCost()}"></span></p>

                                <hr>

                                <p>必要花费=<span th:text="${projectCost.getNecessaryCost()}"></span></p>
                                <p>多余花费=<span th:text="${projectCost.getUnnecessaryCost()}"></span></p>
                            </div>
                        </div>

                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</div>

<script th:replace="/common/template :: script"></script>
</body>
</html>